.demo-box{
    position: absolute;
    width: 400px;
    height: 80vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border:solid 1px #d3d3d3;
}
.test-item{
    height: 36px;
}